#################
# Packer Caches #
#################
**/packer_cache/
*.mf
*.ovf
*.vmdk
*.vmx

###########
# Vagrant #
###########
**/.vagrant/*

###################
# Compiled source #
###################
*.class
*.com
*.dll
*.exe
*.o
*.so

############
# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.out
*.rar
*.tar
*.zip

######################
# Logs and databases #
######################
*.log
*.sql
*.sqlite
*-sqlite

##########
# Editor #
##########
*.*~*
*.swp*
*.un*
.idea
*.secret

######
# OS #
######
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
Thumbs.db
ehthumbs.db
tmp/

#####################
# Language-Specific #
#####################
*.py[cod]
*.egg
build
**/.pytest_cache/
**/.venv/
**/__pycache__
htmlcov
