[user]
        name = Jesse Rusak

[github]
        user = Jesse Rusak

[core]
        pager = cat
[commit]
	verbose = true
[merge]
        autoStash = true
	conflictstyle = diff3
[rerere]
	enabled = true
	autoupdate = true
[rebase]
        autoStash = true
	updateRefs = true
[push]
	autoSetupRemote = true
	default = current
[pull]
        rebase = true
[fetch]
	prune = true
	writeCommitGraph = true
[diff]
	algorithm = histogram

# Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/

[include]
    path = ~/.gitconfig_private
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
