[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target systemd-user-sessions.service

[Service]
Type=forking
ExecStart=/usr/bin/vncsession-start %i
PIDFile=/run/vncsession-%i.pid

[Install]
WantedBy=multi-user.target
